!!!
%html
    %body
        %form{:action => "/", :method => "post"}
            Title:
            %input{:name => "title", :size => "40"}
            %br
            URL:
            %input{:name => "url", :size => "80", :value => "http://"}
            %br
            %input{:type => "submit", :value => "send"}
        - @bookmarks.each do |bookmark|
            %div
                %a{:href => bookmark['url']}= h bookmark['title']
            - unless bookmark['title'] == ''
                %hr
        %div#record 登録数#{@now}